body{
  background: #F7F3F1;
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 200;
  
  max-width: 100%;
}

nav{
  background: #F7F3F1;
  font-weight: 400;
  position: absolute;
/*   background: #fff; */
  padding: 10px 0;

/*   width: 1280px; */
text-align: right;
  bottom: 0px;
  right: 0;
   position: fixed;
  width: 100%;
}

nav ul{
  padding: 0;
  margin: 5px auto;
}

nav ul li{
  display: inline-block;
  text-decoration: none;
  line-height: 1.75em;
  text-transform: uppercase;
/*     letter-spacing: .25em; */
/*     text-align: center; */
    font-size: 1em;
  margin-right: 2.5em;
}

nav ul li a{
    text-decoration: none;
    color: black;
/*     padding: 0 14px; */
}

nav ul li a:hover{
  color: gray;
}


.dala {
  position: absolute;
  margin: 0 auto;
/*   background: #000; */
  
  bottom: 0%;
  padding: 0 0 50px 50px;

}