/********** Global **********/
* {
  box-sizing: border-box;
}


body {
/*    background: url(../img/concrete_wall_2.png);*/
    max-width: 100%;
}

img {
    opacity: 100%;
/*    background-color: red;*/
}

#pictureme {
    max-height: 20%;
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    
}
        
   
}
/********** Layout **********/

/********** Typography **********/
font{
    
}

header {
    
    background-image: url('../img/hike.jpg');
    background-size: cover;
    padding-top: 150px;
    height: 460px;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    color: gray;
    text-transform: uppercase;
    letter-spacing: .25em;
    line-height: 2em;
    text-align: center;
    font-size: 1.25em;
    
}
#myname {
   
/* background-color: blue;*/
  
}

#logo {
    max-width: 10%;
    max-height: 25%;
    padding: 10px;
    margin: 35px;
/*    background-color: green;*/
    display: block;
    margin-left: 100px;
}

#mytitle {

/*     background-color: purple;*/
}
    
#nav {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
/*    background-color: yellow;*/
    max-width: 400px;
}

p {
    background: light-grey;   
    padding: 1px;
    width: 300px;
    padding: 20px;
}

/********** Navigation **********/

a {
    padding: auto;
    text-decoration: none;
    color: gray;
    display: inline-block;
    height: 15px;
    width: 80px;
    text-align: center;
    
    
}

li {
    display: inline;
}