body{
  background: #F7F3F1;
  font-family: "roboto",sans-serif;
  font-style: normal;
  font-weight: 200;
  
  max-width: 100%;
/*   overflow: hidden; */
}

.mainChar ul li:first-child {
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 400;
}

navigation{
/*   background: green; */
  
 
}

nav{
  background: #F7F3F1;
/*   background: orange; */
  font-weight: 400;
/*   background: #fff; */
  padding: 10px;
/*   display: block; */
  width: 100%;

/*   width: 1280px; */
text-align: right;
  bottom: 0px;
  right: 0;
  position: fixed;
}

nav ul{
/*   background: pink; */
  padding: 0;
}

nav ul li{
/*   background: green; */
  display: inline-block;
  text-decoration: none;
  line-height: 1.75em;
  text-transform: uppercase;
/*     letter-spacing: .25em; */
/*     text-align: center; */
    font-size: 1em;
  margin-right: 2.5em;
}

nav ul li a{
    text-decoration: none;
    color: black;
/*     padding: 0 14px; */
}

nav ul li a:hover{
  color: gray;
}


.title{
  font-family: "roboto",sans-serif;
font-style: normal;
font-weight: 200;
  font-size: 6.5em;
  margin: 0;
  padding: 0;
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
}

img {
  position: absolute;
  margin: 0 auto;
/*   background: #000; */
  width: 40%;
  bottom: 0%;
  padding: 0 0 50px 50px;

}

.mainChar{
  float: right;
  padding-right: 50px;
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.3em;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.resume{
  padding: 0 50px 10px 20px;
/*   display: inline-block; */
  position: absolute;
  
  right: 0px;
  width: 50%;
 
}


@media screen and (max-width:745px) {
  .dala {
    padding: 0 0 35px 50px;
/*     background: green; */
  }
}


@media screen and (max-width:670px) {
  .dala {
    padding: 0 0 80px 50px;
/*     background: green; */
  }
}

