/* Global */


body {
    background: url(../img/concrete_wall_2.png);
}

img {
    opacity: .5;
    width: 20%;
}
/* Layout */

/* Typography */

h1 {
  
    color: rgba(0,0,0,.5);
    
    color: peachpuff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    background: green;
    border: 10px double black;    
    padding: 20px;
    width: 300px;   
}

/* Navigation */

a {
    background: red;
    text-decoration: none;
    
    display: inline-block;
    height: 100px;
    width: 100px;
}

li {
    display: inline;
}