/********** Global **********/
* {
  box-sizing: border-box;
}


body {
    background: url(../img/concrete_wall_2.png);
    background: rgb(239, 242, 243); 
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
/*    overflow: auto;*/
}

img {
/*    background-color: red;*/
}

#pictureme {
/*    height: 250px;*/
    max-width: 200px;
    padding: 15px;
/*    margin: 10px;*/
/*    background-color: aqua;*/
    
}
        
   

/********** Layout **********/

/********** Portfolio styling **********/

.wrapper {
    width: 950px;
    position: relative;
}


.wrapper .thumbnails {
    background: cyan;
    width: 180px;
    float: right;  
}
   
.wrapper label img:first-child {
    max-width: 800px;
}

.wrapper label img:last-child {
    opacity: .5;
}

.wrapper label img:hover {
    opacity: 1;
}
.wrapper input {
    display: none;
}

.wrapper input:checked + .full-image {
    display: block;
}

.wrapper input:checked ~ img {
    opacity: 1;
}
.wrapper .full-image {
    background: orange;
/*    width: 100%;*/
    display: none;
    position: absolute;
    top: 0;
    left: 10;
    
    
}

.wrapper div img:last-child {
    width: 90px;
    height: 70px;
    opacity: .5;
    float: right;
    position: relative;
    float: right;
    
    
    
}


/********** Resume styling **********/

.resume {
    margin: 15px;
    padding-left: 100px;
    padding-right: 50px;
    line-height: .25;
}
ul {
/*    background: lightblue;*/
}
li {
    line-height: 1;
    color: gray;
/*    background: lightpink;*/
}
li em:last-child {
    font-size: .75em;
    line-height: 1.75;
    
}

h1 {
    color: dimgray
}

article {
/*    background: lightyellow;*/
}

/********** Typography **********/

header {
    
/*    background-image: url('../img/hike1.jpg'), url('../img/flowers.jpg'), url('../img/beeExtended.jpg') url('../img/leaf.jpg');*/
    background-size: 1300px;
    background-clip: padding-box;
    padding-top: 150px;
    height: 460px;
    background-position: top; 
/*    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;*/
/*    animation: header 4s linear infinite;*/
/*  background-position: 300px -90px, 30px 20px, 100% 0; }*/
    /*    font-weight: 400;*/
    color: gray;
    text-transform: uppercase;
    letter-spacing: .25em;
    line-height: 2em;
    text-align: center;
    font-size: 1.25em;
    position: relative;
    margin: auto;

    
}

#myname {
   position: relative;
    max-width: 200px;
    padding: 5px;
    display: inline-block;
    float: none;
    margin: 5px;
/*    left: 100px;*/
/* background-color: blue;*/
  
}

#logo {
    position: relative;
/*    left: 380px;*/
    top: 15px;
    max-width: 83px;
    height: 83px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
/*    background-color: green;*/
    float: none;
/*    display: block;*/
/*    margin-left: 100px;*/
}

#mytitle {
    position: relative;
    max-width: 250px;
    padding: 5px;
    display: inline-block;
    float: none;
    margin: 5px;
/*    left: 620px;*/

/*     background-color: purple;*/
}
    
p {
    font-weight: 300;
    line-height: 1.5em;
    height: 200px;
    padding: 10px;
    margin: ;
    display: inline-block;
    
}



/********** Navigation **********/
nav {
    padding: 1px;
    text-align: center;
/*     background-color: red; */
}


li {
    display: inline-block;
    padding: 2px;
/*    background-color: green;   */
}

a{
    text-decoration: none;
    color: gray;
    margin: 0 8px;
}

/********* DRY CLASSES*********/

/*
.btn {
 cursor: pointer;   
 color: #fff;
 padding-left: 20px;
 padding-right: 20px;
}
.default-theme {
  background-color: coral;
}*/








/********** TREE HOUSE GRID **********/

/* Global
================================ */

 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.grid-container {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}
img {
	width: 100%;
}

/* Media Queries
================================ */

@media (min-width: 1px) and (max-width: 767px)  {
	.grid-container > [class^="grid-"] {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.hide-mobile {
		display: none;
	}
}

@media (min-width: 768px) {

	/* Columns
	================================ */

	.grid-container > [class^="grid-"] {
		float: left;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 2%;
	}
	.grid-container > [class^="grid-"]:first-child {
		margin-left: 0;
	}
	.grid-container > [class^="grid-"]:last-child {
		float: right;
	}

	/* Columns are 65px wide, with 20px gutters
	=========================================== */

	.grid-1 {
		width: 6.5%;
	}
	.grid-2 {
		width: 15%;
	}
	.grid-3 {
		width: 23.5%;
	}
	.grid-4 {
		width: 32%;
	}
	.grid-5 {
		width: 40.5%;
	}
	.grid-6 {
		width: 49%;
	}
	.grid-7 {
		width: 57.5%;
	}
	.grid-8 {
		width: 66%;
	}
	.grid-9 {
		width: 74.5%;
	}
	.grid-10 {
		width: 83%;
	}
	.grid-11 {
		width: 91.5%;
	}
	.grid-12 {
		width: 100%;
	}

	/* Clearfix
	================================ */

	.grid-container:after,
	.group:after {
	  content: " ";
	  display: table;
	  clear: both;
	}
}
@media (min-width: 1200px) {
	.grid-container {
		max-width: 1100px;
	}
}
