/*here is my color palette*/
.color-1 {
    background: #74521c;
    
}
.color-2 {
    background: #cc5423;
}

.color-3 {
    background: #000;
}

/*here is my imagery*/
.pattern-1 {
    background-image: url('../../img/ampersand_90x67.jpg');
}
.pattern-2 {
    background-image: url('../../img/ampersand_90x67.jpg');
}
.pattern-3 {
    background-image: url('../../img/ampersand_90x67.jpg');
}

/*here is my patterns*/

.imagery-1 {
     background: url('../../img/dalapiano05.jpg');
    
}
.imagery-2 {
    background: url('../../img/progressBar35.svg');
}

.imagery-3 {
    background: url('../../img/Logo.gif')
}

/*Not sure why the images aren't showing up*/
/*typography*/

h2 {
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    letter-spacing: .25em;
}
/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}